	::selection{ background-color: #E13300; color: white; }
	::moz-selection{ background-color: #E13300; color: white; }
	::webkit-selection{ background-color: #E13300; color: white; }

	body {
		background-color: #fff;
		margin: 0px;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
	}

	#menu {
	    background-color: #CCCCCC;
	    border-bottom: 1px solid silver;
	    left: 0;
	    min-height: 99%;
	    padding-bottom: 3em;
	    padding-top: 3px;
	    position: absolute;
	    width: 280px;
	    float: left;
	}

	#content {
	    border: medium none;
	    background-color: #FFFFFF;
	    left: 280px; 
	    padding: 0;
	    position: absolute;
	    width: 80%;
	}

	#explain {
		margin-left: 20px;
	}
	.helptext {
		float:right;
	}

	.format {
		
	}

	.controls {
	    display: block;
	    padding: 2px;
	}

	.controls-header {
	    padding-left: 5px;
	}

	.ui-button-text-only {
	    width: 124px;
	}

	#header {
		padding-top: 0px;
		margin-left: 300px;
	}


	#radio {
	    margin-bottom: 5px;
	}

	a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
	}

	h1 {
		color: #444;
		background-color: transparent;
		border-bottom: 0px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}

	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}

	#body{
		margin: 0 15px 0 15px;
	}
	
	#footer{
		position:fixed;
		bottom: 0px;
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}
	
	#container{
		margin: 10px;
		border: 1px solid #D0D0D0;
		-webkit-box-shadow: 0 0 8px #D0D0D0;
	}

	#navigation{
	    float: left;
	    margin: 10px;
	    border: 1px solid #D0D0D0;
	    -webkit-box-shadow: 0 0 8px #D0D0D0;
	}

	#chart {
		min-width: 310px; 
		height: 600px; 
		margin: 0 auto;
	}

	.solarpanel-highlight {
		background-color: #FF0000;
		border-color: #FFFFFF;
		border-width: 3px;
	}

	.solarpanel-1a {
		background-color: #00FFFF;
	}

	.solarpanel-1b {
		background-color: #00BBFF;
	}

	.solarpanel-2a {
		background-color: #00FF00;
	}

	.solarpanel-2b {
		background-color: #00BB00;
	}

	.solarpanel-3a {
		background-color: #0000FF;
	}

	.solarpanel-3b {
		background-color: #0000CC;
	}

	.solarpanel-4a {
		background-color: #666666;
	}

	.solarpanel-4b {
		background-color: #999999;
	}

	.solarpanel-5a {
		background-color: #00FFFF;
	}

	.solarpanel-5b {
		background-color: #00BBFF;
	}

	
	.stringtable {
		border-width: 1px;
		border-spacing: 0px;
		border-style: solid;
		border-color: gray;
		border-collapse: separate;
		background-color: white;
	}
	.stringtable th {
		border-width: 1px;
		padding: 1px;
		border-style: solid;
		border-color: gray;
		background-color: white;
		-moz-border-radius: ;
	}
	.solarpanel-none {
		border-width: 0px;		
	}

	.stringtable td {
		border-width: 1px;
		padding: 1px;
		border-style: solid;
		border-color: gray;
		-moz-border-radius: ;
		height: 10px;
	}
	
	.ui-tooltip-content {
		padding: 0px;
		margin: 0px;
	    font-size: 10px;
	}
	
	.links {
		font-size: 9px;
	}
	
	.onoffswitch {
    position: relative; width: 40px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 26px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 13px; padding: 0; line-height: 13px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 10px; margin: 1.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 26px;
    position: absolute; top: 0; bottom: 0; right: 23px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
